
<section class="dashboard worker-dash">
    <nav class="nav-dashboard ">
        <p>{{currentUser.fullName}} Dashboard Worker</p>
        <div>
            <span>
                <img src="{{currentUser.image}}" alt="avatar">
            </span>
            <a href="/worker/edit">Edit Profile</a>
            <a href="/worker/logout"> 
                <button class="close-session">log out</button>
            </a>
        </div>
    </nav>
    <h1>Available Services</h1>
    <div id="map"></div>
    <div class="dashboard-content">
        <div class="resume-offerts">
            <span>Resume Offerts</span>

            {{#each services }}
            <li>
                <a href="/services/details/{{_id}}">
                    <p><strong>Service Type: </strong> {{serviceType}}</p>
                    <p><strong>Address: </strong> {{address}}</p>
                    <p><strong>Client: </strong> {{client.fullName}}</p>
                </a>
                {{!-- <a href="/services/delete?id={{id}}" class="btn">Cancel</a>  --}}
            </li>
            {{/each}}
        </div>
        <div class="worker-active-offerts">
            <span>Active offerts</span>
            {{#each appliedServices }}
            <li>
                <a href="/services/details/{{_id}}">
                <p><strong>Service Type: </strong> {{serviceType}}</p>
                <p><strong>Address: </strong> {{address}}</p>
                <p><strong>Client: </strong> {{client.fullName}}</p>
                </a>
                <form action="/services/unapply?id={{id}}" method="POST">
                    <button class="btn edit" type="submit" name="candidates"> Cancel </button>
                </form>

            </li>
            
            {{/each}}
        </div>
        
    </div>


</section>
{{!-- Google maps --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js"></script>
    <script src="/js/googleMaps-services.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=startMap"></script>
    {{!-- FinGoogle maps --}}






