<h1>My services</h1>

<a href="/services">Volver a la lista de servicios</a>
<br>

<ul>
    {{#each appliedServices }}
    <ul>
        Titulo: {{title}}
        <br>
        Descripcion: {{description}}
        <br>
        Direccion: {{address}}
        <br>
        Codigo postal: {{postcode}}
        <br>
        Tipo de servicio: {{serviceType}}
        <br>
        Cliente: {{client.fullName}}
        <br>
        Candidatos: {{candidates.0.fullName}}
        <br>
        Trabajador: {{worker.fullName}}
        <br>
        Estado del servicio: {{status}}
        <br>

    </ul>
    <br>
    {{/each}}
</ul>