<h1>Services</h1>
{{#with allServices}}

    {{#if ../isClient }}
        <p><a href="/services/my-services">Mis servicios creados</a> <---- esta opcion sera solo visible para el cliente</p>
        <p> <a href="/client/dashboard">Dashboard Cliente</a> <---- esta opcion sera solo visible para el cliente</p>
    {{/if}}


    {{#if ../isWorker }}
        <p> <a href="/services/applied-services">Servicios a los que he aplicado</a> <---- esta opcion sera solo visible para el trabajador</p>
        <p> <a href="/worker/dashboard">Dashboard Trabajador</a> <---- esta opcion sera solo visible para el trabajador</p>
    {{/if}}

{{/with}}


<ul>
{{#each allServices }}
    <ul>
        Titulo: {{title}}
        <br>
        Descripcion: {{description}}
        <br>
        Direccion: {{address}}
        <br>
        Codigo postal: {{postcode}}
        <br>
        Tipo de servicio: {{serviceType}}
        <br>
        Cliente: {{client.fullName}}
        <br>
        Candidatos: 
        {{#each candidates}}
                {{fullName}},
        {{/each}}
        <br>
        Trabajador: {{worker.fullName}}
        <br>
        Estado del servicio: {{status}}
        <br>
        <a href="/services/details/{{id}}">Ver detalles</a>
    </ul>
<br>
{{/each}}   
</ul>